# 201804255 함도윤 3주차 과제

## 과제 1번   

아이유 음반 목록 DF로 가져오기

In [15]:
import pandas as pd
import numpy as np

In [16]:
url = 'https://ko.wikipedia.org/wiki/%EC%95%84%EC%9D%B4%EC%9C%A0%EC%9D%98_%EC%9D%8C%EB%B0%98_%EB%AA%A9%EB%A1%9D'
dfs = dfs =pd.read_html(url, na_values='―')
len(dfs)

14

In [17]:
dfs[10]

                           앨범 정보                                        트랙 리스트
0      《첫사랑이죠》 발매일: 2010년 1월 12일         1. 첫사랑이죠 (With. 나윤권) 2. 첫사랑이죠 (Inst.)
1         《잔소리》 발매일: 2010년 6월 3일         1. 잔소리 (With. 슬옹 of 2AM) 2. Rain Drop
2       《그대네요》 발매일: 2010년 9월 28일           1. 그대네요 (With. 성시경) 2. 그대네요 (Inst.)
3        《얼음꽃》 발매일: 2011년 6월 21일  1. 얼음꽃 (With. 김연아, Feat. 김세황) 2. 얼음꽃 (Inst.)
4  《봄 사랑 벚꽃 말고》 발매일: 2014년 4월 8일           1. 봄 사랑 벚꽃 말고 2. 봄 사랑 벚꽃 말고 (Inst.)
5     《애타는 마음》 발매일: 2014년 6월 30일                   1. 애타는 마음 2. 애타는 마음 (Inst.)
6        《소격동》 발매일: 2014년 10월 2일                                        1. 소격동
7         《마음》 발매일: 2015년 5월 18일                                         1. 마음
8        《삐삐》 발매일: 2018년 10월 10일                                         1. 삐삐

## 과제 2번  

movies 용량 줄이기

In [18]:
movies = pd.read_csv('data/movie.csv')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [19]:
#데이터를 둘러보았습니다
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [20]:
#수치형 데이터를 줄여주기위해 최대값(max)을 확인하였습니다
movies.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4867.0,1.379889e+02,1.202394e+02,1.00,49.00,108.00,191.00,8.130000e+02
duration,4901.0,1.070908e+02,2.528602e+01,7.00,93.00,103.00,118.00,5.110000e+02
director_facebook_likes,4814.0,6.910145e+02,2.832954e+03,0.00,7.00,48.00,189.75,2.300000e+04
actor_3_facebook_likes,4893.0,6.312763e+02,1.625875e+03,0.00,132.00,366.00,633.00,2.300000e+04
actor_1_facebook_likes,4909.0,6.494488e+03,1.510699e+04,0.00,607.00,982.00,11000.00,6.400000e+05
gross,4054.0,4.764451e+07,6.737255e+07,162.00,5019656.25,25043962.00,61108412.75,7.605058e+08
num_voted_users,4916.0,8.264492e+04,1.383222e+05,5.00,8361.75,33132.50,93772.75,1.689764e+06
cast_total_facebook_likes,4916.0,9.579816e+03,1.816432e+04,0.00,1394.75,3049.00,13616.75,6.567300e+05
facenumber_in_poster,4903.0,1.377320e+00,2.023826e+00,0.00,0.00,1.00,2.00,4.300000e+01
num_user_for_reviews,4895.0,2.676688e+02,3.729348e+02,1.00,64.00,153.00,320.50,5.060000e+03
budget,4432.0,3.654749e+07,1.002427e+08,218.00,6000000.00,19850000.00,43000000.00,4.200000e+09
title_year,4810.0,2.002448e+03,1.245398e+01,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_facebook_likes,4903.0,1.621924e+03,4.011300e+03,0.00,277.00,593.00,912.00,1.370000e+05
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,4590.0,2.222349e+00,1.402940e+00,1.18,1.85,2.35,2.35,1.600000e+01
movie_facebook_likes,4916.0,7.348294e+03,1.920602e+04,0.00,0.00,159.00,2000.00,3.490000e+05

In [21]:
# object형 경우 category로 만들어 줄 필요성이 있는지 먼저 검색해보았습니다.
# 개별적으로 많이 나눠져있는 경우 굳이 category로 묶어주는 이유가 없기 때문입니다.
movies.color.value_counts()

Color              4693
Black and White     204
Name: color, dtype: int64

In [22]:
movies2 = pd.read_csv('data/movie.csv',
                        dtype={
                        'num_critic_for_reviews' : np.float16,
                        'dration' : np.float16,
                        'director_facebook_likes' : np.float16,
                        'actor_3_facebook_likes' : np.float16,
                        'gross' : np.float32,
                        'num_voted_users' : np.int32,
                        'cast_total_facebook_likes' : np.int32,
                        'facenumber_in_poster':np.float16,
                        'num_user_for_reviews':np.float16,
                        'budget':np.float32,
                        'title_year':np.float16,
                        'actor_2_facebook_likes':np.float32,
                        'imdb_score':np.float16,
                        'aspect_ratio':np.float16,
                        'movie_facebook_likes':np.int32,
                        'color':'category',
                        'country':'category',
                        'content_rating':'category'})
movies2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   category
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float16
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float16
 5   actor_3_facebook_likes     4893 non-null   float16
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float32
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int32
 13  cast_total_facebook_likes  4916 non-null   int32
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float16
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float16
 19  language                   4904 non-null   object
 20  country                    4911 non-null   category
 21  content_rating             4616 non-null   category
 22  budget                     4432 non-null   float32
 23  title_year                 4810 non-null   float16
 24  actor_2_facebook_likes     4903 non-null   float32
 25  imdb_score                 4916 non-null   float16
 26  aspect_ratio               4590 non-null   float16
 27  movie_facebook_likes       4916 non-null   int32
dtypes: category(3), float16(8), float32(3), float64(2), int32(3), object(9)
memory usage: 632.4+ KB

In [23]:
#57% 데이터가 줄었음을 알 수 있습니다.
round(632.4/1100,2)

0.57