# 201804255 함도윤 4주차 과제

# 과제 1번  

movies 데이터 줄이기

In [1]:
import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv('data/movie.csv')

In [3]:
movie1 = movie.iloc[:, :11].fillna(0)

In [4]:
데이터에 대한 dtype을 확인하기위해 info를 실행시켜주었습니다.
movie1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   color                    4916 non-null   object
 1   director_name            4916 non-null   object
 2   num_critic_for_reviews   4916 non-null   float64
 3   duration                 4916 non-null   float64
 4   director_facebook_likes  4916 non-null   float64
 5   actor_3_facebook_likes   4916 non-null   float64
 6   actor_2_name             4916 non-null   object
 7   actor_1_facebook_likes   4916 non-null   float64
 8   gross                    4916 non-null   float64
 9   genres                   4916 non-null   object
 10  actor_1_name             4916 non-null   object
dtypes: float64(6), object(5)
memory usage: 422.6+ KB

In [6]:
# 수치형 데이터의 max 값을 확인하기 위해 실행해주었습니다.
movie1.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4916.0,1.366135e+02,1.204214e+02,0.0,47.00,106.5,191.00,813.0
duration,4916.0,1.067640e+02,2.592923e+01,0.0,93.00,103.0,118.00,511.0
director_facebook_likes,4916.0,6.766770e+02,2.805134e+03,0.0,6.00,44.0,188.00,23000.0
actor_3_facebook_likes,4916.0,6.283228e+02,1.622638e+03,0.0,129.00,362.0,631.00,23000.0
actor_1_facebook_likes,4916.0,6.485241e+03,1.509821e+04,0.0,606.00,981.5,11000.00,640000.0
gross,4916.0,3.929025e+07,6.380675e+07,0.0,285641.25,14914785.0,50875351.25,760505847.0

In [8]:
# object형 경우 category로 만들어 줄 필요성이 있는지 먼저 검색해보았습니다.
# 개별적으로 많이 나눠져있는 경우 굳이 category로 묶어주는 이유가 없기 때문입니다.
movie1.color.value_counts()

Color              4693
Black and White     204
0                    19
Name: color, dtype: int64

In [9]:
#memory_usage 메서드를 사용하면, 메모리 사용량을 컬럼별로 알 수 있습니다.
#col2.memory_usage()
#일반적으로 object 타임은 정확한 계산이 되지 않으므로, deep=True로 바꿔줍니다.
original_mem = movie1.memory_usage(deep=True)
original_mem

Index                         128
color                      306262
director_name              343388
num_critic_for_reviews      39328
duration                    39328
director_facebook_likes     39328
actor_3_facebook_likes      39328
actor_2_name               346635
actor_1_facebook_likes      39328
gross                       39328
genres                     379929
actor_1_name               346599
dtype: int64

In [13]:
movie1['num_critic_for_reviews'] = movie1['num_critic_for_reviews'].astype(np.float16)   
movie1.memory_usage(deep=True)

Index                         128
color                      306262
director_name              343388
num_critic_for_reviews       9832
duration                    39328
director_facebook_likes     39328
actor_3_facebook_likes      39328
actor_2_name               346635
actor_1_facebook_likes      39328
gross                       39328
genres                     379929
actor_1_name               346599
dtype: int64

In [27]:
#director_name의 경우 category로 변경해주어도 용량의 변함이 거의 없었습니다.
movie1['duration'] = movie1['duration'].astype(np.float16)
movie1['director_facebook_likes'] = movie1['director_facebook_likes'].astype(np.float16)
movie1['actor_3_facebook_likes'] = movie1['actor_3_facebook_likes'].astype(np.float16)
movie1['gross'] = movie1['gross'].astype(np.float16)
movie1['color'] = movie1['color'].astype('category')
movie1['genres'] = movie1['genres'].astype('category')
movie1['actor_1_name'] = movie1['actor_1_name'].astype('category')
movie1['actor_2_name'] = movie1['actor_2_name'].astype('category')

new_mem = movie1.memory_usage(deep=True)
new_mem

Index                         128
color                        5190
director_name              245814
num_critic_for_reviews       9832
duration                     9832
director_facebook_likes      9832
actor_3_facebook_likes       9832
actor_2_name               290652
actor_1_facebook_likes      39328
gross                        9832
genres                     121102
actor_1_name               224147
dtype: int64

In [29]:
#이전 메모리와 새로운 메모리의 절약된 비율입니다.
new_mem / original_mem

Index                      1.000000
color                      0.016946
director_name              0.715849
num_critic_for_reviews     0.250000
duration                   0.250000
director_facebook_likes    0.250000
actor_3_facebook_likes     0.250000
actor_2_name               0.838496
actor_1_facebook_likes     1.000000
gross                      0.250000
genres                     0.318749
actor_1_name               0.646704
dtype: float64

# 과제 2번  

UGDS의 도시별 최대값 구하기

In [31]:
college = pd.read_csv('data/college.csv')
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [46]:
#도시별 UGDS의 최댓값을 구하는데
#필요한 열을 추출하고 도시별로 정렬한 다음 UGDS의 최대값을 찾았습니다.
#내림차순으로 ascending=False를 해주었습니다.
(college
 [['INSTNM', 'UGDS', 'CITY']]
 .sort_values(['CITY','UGDS'], ascending=False)
)

                                 INSTNM    UGDS        CITY
2916                 Zane State College  2063.0  Zanesville
2949  Ohio University-Zanesville Campus  1944.0  Zanesville
4674        Mid-EastCTC-Adult Education   305.0  Zanesville
83              Arizona Western College  7218.0        Yuma
4833           Yukon Beauty College Inc    25.0       Yukon
...                                 ...     ...         ...
7045    NeeCee's College of Cosmetology    21.0     Abilene
3492          Northern State University  1693.0    Aberdeen
3968               Grays Harbor College  1121.0    Aberdeen
3494               Presentation College   705.0    Aberdeen
6241                  Angeles Institute   114.0     ARTESIA

[7535 rows x 3 columns]

# 과제 3번  

주별, RELAFFIL 별 UGDS의 최대값을 구하라.  

INSTNM, STABBR, RELAFFIL, UGDS 이런식으로 컬럼 만들어서 가져오기

In [49]:
#먼저 STABBR(주별)을 먼저 정렬을 해주고 그 다음 RELAFFIL(종교)를 찾고
#그 종교별 UGDS의 최댓값을 찾았습니다.
(college
 [['INSTNM','STABBR', 'RELAFFIL','UGDS']]
 .sort_values(['STABBR','RELAFFIL','UGDS'], ascending=False)
)

                                      INSTNM STABBR  RELAFFIL    UGDS
4137                   University of Wyoming     WY         0  9910.0
4131        Laramie County Community College     WY         0  3170.0
4134       Western Wyoming Community College     WY         0  2768.0
4128                          Casper College     WY         0  2449.0
4133                        Sheridan College     WY         0  1976.0
...                                      ...    ...       ...     ...
66                 Charter College-Anchorage     AK         0  3256.0
63            University of Alaska Southeast     AK         0  1428.0
65    AVTEC-Alaska's Institute of Technology     AK         0   889.0
67                     Alaska Career College     AK         0   479.0
5171                       Ilisagvik College     AK         0   109.0

[7535 rows x 4 columns]

# 과제 4번  

데이터 찾기

이번주에 바로 제출해야하는 과제가 아닌 것 같아서 제외했습니다!  

그룹핑과 어떤 데이터를 합칠지에 대해서 고민해보고 데이터를 구해보겠습니다!